<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <!-- tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .profileImg {
            border-radius: 50%;
        }
        .side-hide {
            display: none;
        }
        .show-btn {
            cursor: pointer;
            background-color: rgba(74, 202, 168, 0.7);
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="flex h-[100%]">
        <div class="w-[18%] side-hide">
            <th:block th:replace="/user/userInfo :: userInfoFragment" class="h-[100%]"></th:block>
        </div>
        <button class="show-btn border-l border-gray-300 hover:bg-[#36BC9B] px-[1px]">
            <i class="fa-solid fa-circle-right"></i>
        </button>
        <div class="w-[100%]">
            <th:block th:replace="/wage/wage_form :: wageFormFragment"></th:block>
        </div>
    </div>
    <!-- JQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $(".show-btn").click(function() {
            console.log("Hi");
            $(this).prev("div").toggleClass("side-hide");
        });
    });
    </script>
</th:block>
</html>



