<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .wrapper {
            position: relative;
        }

        .wage-text {
            position: absolute;
            top: 40px;
            left: 100px;
            animation: wage-appear-slide 1s ease-out;
        }

        .wage-form {
            position: absolute;
            top: 40px;
            right: 100px;
        }

        @keyframes wage-appear-slide {
            from {
                left: -100px;
                opacity: 0;
            }
            to {
                left: 100px;
                opacity: 1;
            }
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="w-[20%] flex default-bgcolor-base">
            <th:block th:replace="/user/userInfo :: userInfoFragment"></th:block>
        </div>
        <div class="flex-grow flex flex-col">
            <nav class="w-full h-[2%] default-bgcolor-base pt-2 text-white">
                <ul class="flex gap-20">
                    <li><a href="/wage/base" class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">기본급여정보</a></li>
                    <li><a href="/wage/working-time" class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">근무시간입력</a></li>
                    <li><a href="/wage/result" class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">누적급여계산</a></li>
                </ul>
            </nav>
            <img class="w-[100%] h-[15%] object-cover contrast-50" src="https://i.imgur.com/hVTGIiu.png">
            <div class="w-[100%]">
                <div class="flex wrapper">
                    <div class="wage-text p-4 max-w-xs text-2xl mt-8">
                        <i class="fa-solid fa-money-check-dollar fa-2x"></i>
                        <span class="ml-2 text-3xl"><br>급여정보를<br>입력하세요.</span>
                    </div>

                    <div class="wage-form p-5 flex-grow flex flex-col mt-1">
                        <div class="card card-small card-post mb-2 flex rounded-2xl shadow-md p-5 w-[530px]">
                            <form th:action="@{/wage/base}" th:object="${wageBaseForm}" method="POST">
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">근무지명</label>
                                    <div class="flex flex-grow justify-end mt-2">
                                        <div>
                                            <input type="text" th:field="*{workPlaceName}"
                                                           class="ml-auto ml-2 border form-control-sm w-[100px] text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">시급</label>
                                    <div class="flex flex-grow justify-end mt-2">
                                        <div>
                                            &#8361; <input type="text" th:field="*{baseWage}"
                                                           class="kr-price ml-auto ml-2 border form-control-sm w-[100px] text-right">
                                        </div>
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">연차</label>
                                    <div class="flex flex-grow justify-end mt-2">
                                        <div>
                                            <input type="number" th:field="*{annual}" min="0"
                                                   class="ml-auto ml-2 border form-control-sm w-[60px]">
                                            <span class="ml-1">일</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">월급일</label>
                                    <div class="flex flex-grow justify-end mt-2">
                                        <div>
                                            <span>매달</span>
                                            <input type="number" th:field="*{payday}" min="1" max="31"
                                                   class="ml-auto ml-2 border form-control-sm w-[60px]">
                                            <span class="ml-1">일</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">근무 시작일</label>
                                    <div class="flex gap-2 ml-auto mt-2">
                                        <i class="fa-regular fa-calendar-days text-2xl"></i>
                                        <input type="text" th:field="*{workStartDate}"
                                               class="datepicker border w-[120px] text-right">
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <button type="submit"
                                            class="border-2 border-[#3c424d] text-white bg-[#3c424d] rounded hover:shadow-md px-4 pt-1 mt-3">
                                        다음
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
<!--        const input = document.querySelector('.kr-price');-->
<!--        input.addEventListener('keyup', function(e) {-->
<!--            let value = e.target.value;-->
<!--            value = Number(value.replaceAll(',', ''));-->
<!--            if(isNaN(value)) {-->
<!--                input.value = 0;-->
<!--            } else {-->
<!--                const formatValue = value.toLocaleString('ko-KR');-->
<!--                input.value = formatValue;-->
<!--            }-->
<!--        })-->
    </script>
</th:block>
</html>