<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .content-wrapper {
            position: relative;
        }

        .wrapper {
            position: relative;
        }

        .wage-text {
            position: absolute;
            top: 40px;
            left: 100px;
            animation: wage-appear-slide 1s ease-out;
        }

        .wage-form {
            position: absolute;
            top: 40px;
            right: 100px;
        }

        .acc-works-text {
            position: absolute;
            top: 900px;
        }

        .acc-works-section {
            position: absolute;
            top: 1000px;
            left: 50px;
        }

        @keyframes wage-appear-slide {
            from {
                left: -100px;
                opacity: 0;
            }
            to {
                left: 100px;
                opacity: 1;
            }
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="w-[20%] flex default-bgcolor-base">
            <th:block th:replace="/user/userInfo :: userInfoFragment"></th:block>
        </div>
        <div class="flex-grow flex flex-col content-wrapper">
            <nav class="w-full h-[2%] default-bgcolor-base pt-2 text-white">
                <ul class="flex gap-20">
                    <li><a href="/wage/base" class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">기본급여정보</a></li>
                    <li><a href="/wage/working-time"
                           class="no-underline text-white hover:text-white text-[13px] hover:cursor-pointer">근무시간입력</a></li>
                    <li><a href="/wage/result" class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">누적급여계산</a></li>
                </ul>
            </nav>
            <img class="w-[100%] h-[15%] object-cover contrast-50" src="https://i.imgur.com/hVTGIiu.png">
            <div class="w-[100%]">
                <div class="flex wrapper">
                    <div class="wage-text p-3 pt-4 max-w-xs text-2xl mt-8">
                        <i class="fa-solid fa-clock fa-2x"></i>
                        <span class="ml-2 text-3xl"><br>근무 날짜/시간을<br>입력하세요.</span>
                    </div>

                    <div class="wage-form p-5 flex-grow flex flex-col mt-1">
                        <div class="card card-small card-post mb-2 flex rounded-2xl shadow-md p-5 w-[530px]">
                            <form th:action="@{/wage/working-time}" th:object="${workingTimeForm}" method="POST">
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">근무날짜</label>
                                    <div class="flex gap-2 ml-auto">
                                        <i class="fa-regular fa-calendar-days text-2xl"></i>
                                        <input type="text" th:field="*{workingDate}"
                                               class="datepicker border w-[120px] text-right">
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <label class="w-[100px] mt-2">근무시간</label>
                                    <div class="flex flex-grow justify-end mt-2">
                                        <input type="number" th:field="*{workingHours}" min="0" max="12"
                                               class="ml-auto border mr-2 form-control-sm w-[50px]"/>
                                        <span class="mr-2">시간</span>
                                        <input type="number" th:field="*{workingMinutes}" min="0" max="59"
                                               class="border mr-2 form-control-sm w-[50px]"/><span>분</span>
                                    </div>
                                </div>
                                <div class="flex gap-2">
                                    <span class="w-[100px] mt-2">연장 근무시간</span>
                                    <div class="flex flex-grow justify-end mt-2">
                                        <input type="number" th:field="*{extendedHours}" min="0" max="12"
                                               class="ml-auto mr-2 border form-control-sm w-[50px]"/>
                                        <span class="mr-2">시간</span>
                                        <input type="number" th:field="*{extendedMinutes}" min="0" max="59"
                                               class="border mr-2 form-control-sm w-[50px]"/><span>분</span>
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <button type="submit"
                                            class="border-2 border-[#3c424d] rounded text-white bg-[#3c424d] hover:shadow-md px-4 pt-1 mt-3">
                                        근무추가
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="flex justify-end hover:cursor-pointer"><button href="/wage/working-time/add" class="bg-[#4acaa8] text-white rounded font-bold hover: hover:shadow-md px-3 py-2"><i class="fa-solid fa-calculator"></i> 급여계산하기</button></div>
                    </div>
                </div>
            </div>
            <div class="w-full h-[4%] acc-works-text text-2xl">
                <div class="bg-concrete h-[30%] shadow-inner"></div>
                <div class="pl-14 pt-3">근무이력 <i class="fa-regular fa-file-lines"></i></div>
            </div>

            <div class="w-[95%] row row-cols-4 gy-3 acc-works-section">
                <div th:each="work : ${works}">
                    <div class="card border-danger text-black">
                        <div class="card-header border-danger">
                            <i class="fa-solid fa-stopwatch"></i> |
                            <label th:text="|근무날짜: ${#dates.format(work.workingDate, 'yyyy-MM-dd')}|"></label>
                        </div>
                        <div class="card-body flex flex-col">
                            <label th:text="|근무시간: ${work.workingHours}시간 ${work.workingMinutes}분|"></label>
                            <label th:text="|연장근무시간: ${work.extendedHours}시간 ${work.extendedMinutes}분|"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script>
<!--    $("#append_form").on("click", function() {-->
<!--        const form = `<div class="card card-small card-post mb-2 flex rounded-2xl shadow-md p-5 w-[650px]">-->
<!--            <form th:action="@{/wage/working-time}" th:object="${workingTimeForm}" method="POST">-->
<!--                <div class="flex gap-2">-->
<!--                    <label class="w-[100px] mt-2">근무날짜</label>-->
<!--                    <div class="flex gap-2 ml-auto">-->
<!--                        <i class="fa-regular fa-calendar-days text-2xl"></i>-->
<!--                        <input type="text" th:field="*{workingDate}"-->
<!--                               class="datepicker border w-[120px] text-right">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="flex gap-2">-->
<!--                    <label class="w-[100px] mt-2">근무시간</label>-->
<!--                    <div class="flex flex-grow justify-end mt-2">-->
<!--                        <input type="number" th:field="*{workingHours}" min="0" max="12"-->
<!--                               class="ml-auto border mr-2 form-control-sm w-[70px]"/>-->
<!--                        <span class="mr-2">시간</span>-->
<!--                        <input type="number" th:field="*{workingMinutes}" min="0" max="59"-->
<!--                               class="border mr-2 form-control-sm w-[70px]"/><span>분</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="flex gap-2">-->
<!--                    <span class="w-[100px] mt-2">연장 근무시간</span>-->
<!--                    <div class="flex flex-grow justify-end mt-2">-->
<!--                        <input type="number" th:field="*{extendedHours}" min="0" max="12"-->
<!--                               class="ml-auto mr-2 border form-control-sm w-[70px]"/>-->
<!--                        <span class="mr-2">시간</span>-->
<!--                        <input type="number" th:field="*{extendedMinutes}" min="0" max="59"-->
<!--                               class="border mr-2 form-control-sm w-[70px]"/><span>분</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="flex justify-end">-->
<!--                    <button type="submit"-->
<!--                            class="border-2 border-[#3c424d] text-[#3c424d] bg-white hover:shadow-md px-4 pt-1 mt-3">-->
<!--                        다음-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--        `;-->

<!--        const formParents = document.createElement(".wage-form");-->
<!--        formParents.innerHTML = form;-->
<!--        document.getElementByClassName(".wage-form").appendChild(formParents);-->
<!--    });-->
</script>
</th:block>
</html>