<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .wrapper {
            position: relative;
        }

        .wage-text {
            position: absolute;
            top: 40px;
            left: 100px;
            animation: wage-appear-slide 1s ease-out;
        }

        .wage-form {
            position: absolute;
            top: 40px;
            right: 100px;
        }

        @keyframes wage-appear-slide {
            from {
                left: -100px;
                opacity: 0;
            }
            to {
                left: 100px;
                opacity: 1;
            }
        }




    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="w-[20%] flex default-bgcolor-base">
            <th:block th:replace="/accountBook/fixedInfo :: fixedInfoFragment"></th:block>
        </div>
        <div class="flex-grow flex flex-col">
            <nav class="w-full h-[2%] default-bgcolor-base pt-2 text-white">
                <ul class="flex gap-20">
                    <li><a href="/account/base/fixed-spending"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">고정지출입력</a>
                    </li>
                    <li><a href="/account/base/fixed-income"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">고정수입입력</a>
                    </li>
                    <li><a href="/account/daily/pattern"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">하루소비패턴</a>
                    </li>
                </ul>
            </nav>
            <!--      <img class="w-[100%] h-[15%] object-cover contrast-50" src="https://i.imgur.com/hVTGIiu.png">-->
            <div class="w-[100%] p-3">
                <div class="w-[90%] bg-concrete mt-3 flex flex-col wrapper rounded p-3">
                    <div th:text="|${nextMonth}월 예상소비계획|" class="border-b-4 border-[#3c424d]">
                    </div>
                    <div class="flex justify-between items-end">
                        <div class="flex flex-col gap-3 mt-3 w-[600px]">
                            <div class="flex gap-2">
                                <i class="fa-regular fa-calendar-days text-2xl"></i>
                                <div th:text="|${nextMonth}.01 ~ ${nextMonth}.${nextMonthLastDate}|" class="pt-2"></div>
                            </div>
                            <div class="flex justify-between">
                                <div><i class="fa-solid fa-coins"></i> 누적급여</div>
                                <div th:text="|${accTotalWage}원|"></div>
                            </div>
                            <form th:action="@{/account/base/fixed-spending}" th:object="${fixedSpendingForm}"
                                  method="POST">
                                <div>
                                    <div>고정지출</div>
                                    <div class="flex justify-between">
                                        <select th:field="*{fixedSpendingType}" class="h-[25px]">
                                            <option value="">--지출유형을 선택하세요--</option>
                                            <option value="저축">저축</option>
                                            <option value="보험료">보험료</option>
                                            <option value="통신비">통신비</option>
                                            <option value="주거비">주거비</option>
                                            <option value="대출상환">대출상환</option>
                                            <option value="교육비">교육비</option>
                                            <option value="기부">기부</option>
                                            <option value="기타">기타</option>
                                        </select>
                                        <div>
                                            <input type="number" th:field="*{fixedSpending}"
                                                   class="border border-gray-500"> 원
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2"><label for="fixedSpendingMemo"><i class="fa-solid fa-file-pen"></i> Memo :</label></div>
                                <textarea id="fixedSpendingMemo" th:field="*{fixedSpendingMemo}"
                                          rows="10" cols="33" placeholder="메모할 사항" class="w-full pl-2 pt-2"></textarea>
                                <div class="flex justify-end">
                                    <input type="submit"
                                           value="고정지출추가"
                                           class="border-2 border-[#3c424d] rounded text-white bg-[#3c424d] hover:shadow-md px-4 pt-1 mt-3">
                                </div>
                            </form>

                            <div class="flex justify-end hover:cursor-pointer"><a href="/account/base/fixed-income"
                                                                                  class="bg-[#4acaa8] text-white rounded font-bold hover: hover:shadow-md px-3 py-2 no-underline"><i
                                    class="fa-solid fa-greater-than"></i> 다음</a>
                            </div>
                        </div>
                        <div class="card card-small card-post flex rounded-2xl shadow-md p-5 w-[400px] h-[500px] text-7xl font-bold">
                            <div class="flex gap-5">
                                <div>
                                    <div class="text-base">월급일로부터</div>
                                    <div class="text-base">D+[[${dDayFrom}]]</div>
                                </div>
                                <div>
                                    <div class="text-base">[[${month}]]</div>
                                    <div class="text-base">月</div>
                                </div>
                                <div>
                                    <div class="text-base">월급일까지</div>
                                    <div class="text-base">D-[[${dDayTo}]]</div>
                                </div>
                            </div>
                            <div th:if="${date == siteUser.payday}" class="text-red mt-5">[[${date}]]</div>
                            <div th:unless="${date == siteUser.payday}" class="text-center text-9xl mt-5">[[${date}]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>