<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .wrapper {
            position: relative;
        }

        .fixed-text {
            position: absolute;
            top: 10px;
            left: 70px;
            animation: fixed-appear-slide 2s ease-out;
        }

        @keyframes fixed-appear-slide {
            from {
                left: -100px;
                opacity: 0;
            }
            to {
                left: 70px;
                opacity: 1;
            }
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="flex-grow flex flex-col pt-9">
            <img class="w-[100%] h-[15%] object-none contrast-50" src="https://i.imgur.com/peG7BrE.jpg">
            <div class="w-[100%] wrapper px-5">
                <div class="text-center text-2xl mt-4"><i class="fa-solid fa-piggy-bank"></i></div>
                <div class="text-center text-2xl mt-2">2. 고정소득 입력 (월급 제외)</div>
                <hr class="w-[85%] mx-auto border-4 border-gray-50">
                <div class="w-[85%] bg-concrete flex flex-col wrapper rounded p-9 pt-0 mx-auto mt-3">
                    <div class="flex justify-between border-b-4 border-[#3c424d]">
                        <div class="flex mt-8">
                            <div th:text="|${nextMonth}월 예상소득|" class="text-2xl mr-2"></div>
                            <div th:text="|(${nextMonth}.01 ~ ${nextMonth}.${nextMonthLastDate})|" class="text-2xl"></div>
                        </div>
                        <img src="/images/0840-svg.svg" class="w-[80px]">
                    </div>
                    <div class="flex justify-between mt-2 gap-5">
                        <div class="flex flex-col gap-3 mt-2 w-[60%]">
                            <div class="flex justify-between border-4 border-gray-50 p-2">
                                <div><i class="fa-solid fa-coins"></i> '[[${siteUser.workPlaceName}]]' 누적급여</div>
                                <div th:text="|${accTotalWage}원|"></div>
                            </div>
                            <form th:action="@{/account/base/fixed-income}" th:object="${fixedIncomeForm}" method="POST">
                                <div>
                                    <div class="flex justify-between">
                                        <select th:field="*{fixedIncomeType}" class="h-[25px] rounded">
                                            <option value="">--소득유형을 선택하세요--</option>
                                            <option value="용돈">용돈</option>
                                            <option value="기타">기타</option>
                                        </select>
                                        <div>
                                            <input type="number" th:field="*{fixedIncome}" class="border border-gray-500 ml-2 rounded"> 원
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-4"><label for="fixedIncomeMemo"><i class="fa-solid fa-file-pen"></i> Memo :</label></div>
                                <textarea id="fixedIncomeMemo" th:field="*{fixedIncomeMemo}"
                                          rows="10" cols="33" placeholder="메모할 사항" class="w-full pl-2 pt-2 mt-2 rounded"></textarea>
                                <div class="flex justify-end">
                                    <button type="submit"
                                            class="border-2 border-[#3c424d] rounded text-white bg-[#3c424d] hover:shadow-md px-4 pt-1">
                                        고정수입추가
                                    </button>
                                </div>
                            </form>

                            <div class="flex justify-end hover:cursor-pointer"><a href="/account/daily/pattern"
                                                                                  class="bg-[#4acaa8] text-white rounded font-bold hover: hover:shadow-md px-3 py-2 no-underline"><i
                                    class="fa-solid fa-greater-than"></i> 다음</a></div>
                        </div>
                        <div class="card card-small card-post rounded-2xl shadow-md w-[400px] h-[500px] p-3">
                            <div class="text-center text-[20px] mt-4">[영수증]</div>
                            <div class="flex mt-3 pl-3">
                                <div class="mr-4">[분류]</div>
                                <div>고정소득</div>
                            </div>
                            <div class="flex pl-3">
                                <div class="mr-4">[기간]</div>
                                <div th:text="|${nextMonth}.01 ~ ${nextMonth}.${nextMonthLastDate}|"></div>
                            </div>
                            <div class="text-center">===================================</div>
                            <div class="flex justify-between px-8">
                                <div>소득유형</div>
                                <div>금액</div>
                            </div>
                            <div class="text-center">---------------------------------------------</div>
                            <div th:if="${fixedIncomes != null}" th:each="fixedIncome : ${fixedIncomes}" class="p-1 flex flex-col gap-1">
                                <div class="flex justify-between px-4">
                                    <div th:text="${fixedIncome.fixedIncomeType}"></div>
                                    <div th:text="|${fixedIncome.fixedIncome}원|"></div>
                                </div>
                                <div class="flex pl-4 gap-1 text-[14px] text-red-500">
                                    <div>└ <i class="fa-solid fa-file-pen"></i></div>
                                    <div th:text="${fixedIncome.fixedIncomeMemo}"></div>
                                </div>
                            </div>
                            <div class="text-center">---------------------------------------------</div>
                            <div class="flex justify-between pt-2 px-4">
                                <div>예상소득</div>
                                <div>1234원</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>