<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .wrapper {
            position: relative;
        }

        .append-select-wrapper {
            position: relative;
        }

        .append-select {
            position: position;
            top : 200px;
            right: 700px;
        }





    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="w-[20%] flex default-bgcolor-base">
            <th:block th:replace="/accountBook/fixedInfo :: fixedInfoFragment"></th:block>
        </div>
        <div class="flex-grow flex flex-col">
            <nav class="w-full h-[2%] default-bgcolor-base pt-2 text-white">
                <ul class="flex gap-20">
                    <li><a href="/account/base/fixed-spending"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">고정지출입력</a>
                    </li>
                    <li><a href="/account/base/fixed-income"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">고정수입입력</a>
                    </li>
                    <li><a href="/account/daily/pattern"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">하루소비패턴</a>
                    </li>
                </ul>
            </nav>
            <div class="w-[100%] p-3">
                <div class="w-[90%] bg-concrete mt-3 flex flex-col wrapper rounded p-3">
                    <div th:text="|${nextMonth}월 예상소비계획|" class="border-b-4 border-[#3c424d]">
                    </div>
                    <div class="flex justify-between gap-10">
                        <div class="flex flex-col gap-3 mt-2 mx-auto w-[390px]">
                            <div class="flex gap-2">
                                <i class="fa-regular fa-calendar-days text-2xl"></i>
                                <div th:text="|${nextMonth}.01 ~ ${nextMonth}.${nextMonthLastDate}|" class="pt-2"></div>
                            </div>
                            <div>
                                <div class="flex justify-between">
                                    <span><i class="fa-solid fa-coins"></i> 누적급여</span>
                                    <span th:text="|${accTotalWage}원|"></span>
                                </div>
                                <div class="flex justify-between">
                                    <div><i class="fa-solid fa-minus"></i> 고정지출액</div>
                                    <div>
                                        <span th:text="|${fixedSpendingSum}원|"></span>
                                    </div>
                                </div>
                                <div class="flex justify-between">
                                    <div><i class="fa-solid fa-plus"></i> 고정수입액</div>
                                    <div>
                                        <span th:text="|${fixedIncomeSum}원|"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="flex justify-between">
                                    <div>한달 소비가능 금액</div>
                                    <div>
                                        <span th:text="|${balance}원|"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-small card-post mb-2 rounded-2xl shadow-inner p-5 mt-3 w-[600px] h-[500px] font-bold" style="background-color: rgba(74, 202, 168, 0.3);">
                            <div class="text-center text-xl">하루 소비패턴 만들기 <i class="fa-solid fa-scroll"></i></div>
                            <div class="text-center text-sm"><i class="fa-solid fa-sort-down"></i> 소비유형별 가능한 최대금액을 적어주세요.</div>
                            <form th:action="@{/account/daily/pattern}" th:object="${dailyPatternForm}" method="POST">
                                <div class="mt-3 flex justify-between">
                                    <div class="bg-white p-1 px-4 rounded shadow-inner h-[26px]">
                                        <div><i class="fa-solid fa-tag"></i> 소비패턴명</div>
                                    </div>
                                    <input type="text" th:field="*{dailyPatternName}" placeholder="ex. 일상, 주말, 데이트..." class="border border-gray-50 rounded pl-2 shadow-inner h-[26px]">
                                </div>
                                <div class="mt-3">
                                    <div class="append-select-parents">
                                        <div class="flex justify-between gap-2">
                                            <select name="dailyConsumptionTypes[]" class="h-[25px] border border-gray-50 rounded shadow-inner">
                                                <option value="">--(하루)소비유형을 선택하세요--</option>
                                                <option value="아침식비">아침식비</option>
                                                <option value="점심식비">점심식비</option>
                                                <option value="저녁식비">저녁식비</option>
                                                <option value="카페">카페</option>
                                                <option value="담배">담배</option>
                                                <option value="쇼핑">쇼핑</option>
                                                <option value="영화">영화</option>
                                                <option value="기타">기타</option>
                                            </select>
                                            <div class="flex gap-2">
                                                <input type="number" name="dailyConsumptionPrices[]"
                                                       class="border border-gray-500 ml-2 w-[120px] h-[26px] rounded"> 원
                                                <div class="append-select">
                                                    <i class="fa-solid fa-square-plus" style="font-size: 26px;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <input type="submit"
                                           value="다음"
                                           class="border-2 border-[#3c424d] rounded text-white bg-[#3c424d] hover:shadow-md px-4 pt-1 mt-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(".append-select").on("click", function() {
        if (document.querySelectorAll(".dailyConsumptionTypes").length > 6) {
            alert("추가가능한 소비유형은 최대 8개입니다.")
            return false;
        }
        const select = `
        <div>
            <div>
                <div class="flex justify-between gap-2 mt-2">
                    <select name="dailyConsumptionTypes[]" class="h-[25px] rounded shadow-inner dailyConsumptionTypes">
                        <option value="">--(하루)소비유형을 선택하세요--</option>
                        <option value="아침식비">아침식비</option>
                        <option value="점심식비">점심식비</option>
                        <option value="저녁식비">저녁식비</option>
                        <option value="카페">카페</option>
                        <option value="담배">담배</option>
                        <option value="쇼핑">쇼핑</option>
                        <option value="영화">영화</option>
                        <option value="기타">기타</option>
                    </select>
                    <div class="flex gap-2">
                        <input type="number" name="dailyConsumptionPrices[]"
                                   class="border border-gray-500 ml-2 w-[120px] h-[26px]  shadow-inner rounded"> 원
                        <i class="fa-regular fa-square-minus delete" style="font-size: 26px; color: red;" onclick="deleteSelect(this)"></i>
                    </div>
                </div>
            </div>
        <div>
        `;

        const selectParents = document.createElement('div');
        selectParents.innerHTML = select;
        document.getElementsByClassName("append-select-parents")[0].appendChild(selectParents);
    });

    function deleteSelect(content) {
        const parents = content.parentNode.parentNode.parentNode.parentNode;
        parents.remove()
    }

    </script>
</th:block>
</html>