<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .wrapper {
            position: relative;
        }




    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="w-[20%] flex default-bgcolor-base">
            <th:block th:replace="/accountBook/fixedInfo :: fixedInfoFragment"></th:block>
        </div>
        <div class="flex-grow flex flex-col">
            <nav class="w-full h-[2%] default-bgcolor-base pt-2 text-white">
                <ul class="flex gap-20">
                    <li><a href="/wage/base"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">기본급여정보</a>
                    </li>
                    <li><a href="/wage/working-time"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">근무시간입력</a>
                    </li>
                    <li><a href="/wage/result"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">누적급여계산</a>
                    </li>
                </ul>
            </nav>
            <div class="w-[100%] p-3">
                <div class="w-[90%] bg-concrete mt-3 flex flex-col wrapper rounded p-3">
                    <div th:text="|${nextMonth}월 예상소비계획|" class="border-b-4 border-[#3c424d]">
                    </div>
                    <div class="flex justify-between">
                        <div class="flex flex-col gap-3 mt-2 w-[600px]">
                            <div class="flex gap-2">
                                <i class="fa-regular fa-calendar-days text-2xl"></i>
                                <div th:text="|${nextMonth}.01 ~ ${nextMonth}.${nextMonthLastDate}|" class="pt-2"></div>
                            </div>
                            <div>
                                <span>누적급여</span>
                                <div class="flex justify-end">
                                    <span th:text="|${accTotalWage}원|"></span>
                                </div>
                                <div class="flex justify-between">
                                    <div><i class="fa-solid fa-minus"></i> 고정지출액</div>
                                    <div>
                                        <span th:text="|${fixedSpendingSum}원|"></span>
                                    </div>
                                </div>
                                <div class="flex justify-between">
                                    <div><i class="fa-solid fa-plus"></i> 고정수입액</div>
                                    <div>
                                        <span th:text="|${fixedIncomeSum}원|"></span>
                                    </div>
                                </div>
                                <hr>
                                <div class="flex justify-between">
                                    <div>한달 소비가능 금액</div>
                                    <div>
                                        <span th:text="|${balance}원|"></span>
                                    </div>
                                </div>
                                <div>
                                    <form th:action="@{/account/daily/pattern}" th:object="${dailyPatternForm}" method="POST">
                                        <div>하루 소비패턴 만들기</div>
                                        <div>소비유형별 가능한 최대금액을 적어주세요.</div>
                                        <div class="flex justify-between">
                                            <div>소비패턴명</div>
                                            <input type="text" th:field="*{dailyPatternName}" placeholder="ex. 일상, 주말, 데이트...">
                                        </div>
                                        <div>
                                            <select name="dailyConsumptionTypes[]" class="h-[25px]">
                                                <option value="">--(하루)소비유형을 선택하세요--</option>
                                                <option value="아침식비">아침식비</option>
                                                <option value="점심식비">점심식비</option>
                                                <option value="저녁식비">저녁식비</option>
                                                <option value="카페">카페</option>
                                                <option value="담배">담배</option>
                                                <option value="쇼핑">쇼핑</option>
                                                <option value="영화">영화</option>
                                                <option value="기타">기타</option>
                                            </select>
                                            <input type="number" name="dailyConsumptionPrices[]"
                                                   class="border border-gray-500 ml-2"> 원
                                            <div class="append-select-parents">
                                                <div class="append-select">
                                                    <i class="fa-solid fa-square-plus"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="flex justify-end">
                                            <input type="submit"
                                                   value="다음" class="border-2 border-[#3c424d] rounded text-white bg-[#3c424d] hover:shadow-md px-4 pt-1 mt-3">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card card-small card-post mb-2 flex rounded-2xl shadow-md p-5 mt-3 w-[400px] h-[500px] text-7xl font-bold">
                            <div class="flex gap-5">
                                <div>
                                    <div class="text-base">월급일로부터</div>
                                    <div class="text-base">D+[[${dDayFrom}]]</div>
                                </div>
                                <div>
                                    <div class="text-base">[[${month}]]</div>
                                    <div class="text-base">月</div>
                                </div>
                                <div>
                                    <div class="text-base">월급일까지</div>
                                    <div class="text-base">D-[[${dDayTo}]]</div>
                                </div>
                            </div>
                            <div th:if="${date == siteUser.payday}" class="text-red mt-5">[[${date}]]</div>
                            <div th:unless="${date == siteUser.payday}" class="text-center text-9xl mt-5">[[${date}]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(".append-select").on("click", function() {
        const select = `
        <div>
            <select name="dailyConsumptionTypes[]" class="h-[25px]">
                <option value="">--(하루)소비유형을 선택하세요--</option>
                <option value="아침식비">아침식비</option>
                <option value="점심식비">점심식비</option>
                <option value="저녁식비">저녁식비</option>
                <option value="카페">카페</option>
                <option value="담배">담배</option>
                <option value="쇼핑">쇼핑</option>
                <option value="영화">영화</option>
                <option value="기타">기타</option>
            </select>
            <input type="number" name="dailyConsumptionPrices[]"
                   class="border border-gray-500 ml-2"> 원
        <div>
        `;

        const selectParents = document.createElement('div');
        selectParents.innerHTML = select;
        document.getElementsByClassName("append-select-parents")[0].appendChild(selectParents);
    });



    </script>
</th:block>
</html>