<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        .wrapper {
            position: relative;
        }

        .fixed-text {
            position: absolute;
            top: 10px;
            left: 35px;
            animation: fixed-appear-slide 2s ease-out;
        }

        @keyframes fixed-appear-slide {
            from {
                left: -100px;
                opacity: 0;
            }
            to {
                left: 35px;
                opacity: 1;
            }
        }

        .append-select-wrapper {
            position: relative;
        }

        .append-select {
            position: position;
            top : 200px;
            right: 700px;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="h-full flex">
        <div class="w-[20%] flex default-bgcolor-base">
            <th:block th:replace="/accountBook/fixedInfo :: fixedInfoFragment"></th:block>
        </div>
        <div class="flex-grow flex flex-col">
            <nav class="w-full h-[2%] default-bgcolor-base pt-2 text-white">
                <ul class="flex gap-20">
                    <li><a href="/account/base/fixed-spending"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">고정지출입력</a>
                    </li>
                    <li><a href="/account/base/fixed-income"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">고정소득입력</a>
                    </li>
                    <li><a href="/account/daily/pattern"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">하루소비패턴 만들기</a>
                    </li>
                    <li><a href="/account/result"
                           class="no-underline text-white text-[13px] hover:text-white hover:cursor-pointer">나의 소비패턴</a>
                    </li>
                </ul>
            </nav>
            <img class="w-[100%] h-[15%] object-cover contrast-50" src="https://i.imgur.com/peG7BrE.jpg">
            <div class="w-[100%] wrapper">
                <div class="fixed-text text-2xl mt-2">3. 하루 소비패턴을 만드세요.</div>
                <div class="w-[95%] bg-concrete flex flex-col wrapper rounded p-3 mx-auto mt-16">
                    <div th:text="|${nextMonth}월 예상소비계획|" class="border-b-4 border-[#3c424d]">
                    </div>
                    <div class="flex justify-between">
                        <div class="flex flex-col gap-3 mt-3 w-[440px]">
                            <div class="flex gap-2">
                                <i class="fa-regular fa-calendar-days text-2xl"></i>
                                <div th:text="|${nextMonth}.01 ~ ${nextMonth}.${nextMonthLastDate}|" class="pt-2"></div>
                            </div>
                            <div>
                                <div class="flex justify-between">
                                    <span><i class="fa-solid fa-coins"></i> 누적급여</span>
                                    <span th:text="|${accTotalWage}원|"></span>
                                </div>
                                <div class="flex justify-between">
                                    <div><i class="fa-solid fa-minus" style="color: red;"></i> 고정지출액</div>
                                    <div> [[${fixedSpendingSum}]] 원</div>
                                </div>
                                <hr class="p-0">
                                <div th:each="fixedSpending : ${fixedSpendings}" class="pl-3 flex flex-col gap-1">
                                    <div class="card h-[40px]">
                                        <div class="card-body py-1 pt-2 px-2">
                                            <div class="flex justify-between">
                                                <div th:text="${fixedSpending.fixedSpendingType}"></div>
                                                <div th:text="${fixedSpending.fixedSpending}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-end gap-1">
                                        <div><i class="fa-solid fa-file-pen"></i></div>
                                        <div th:text="${fixedSpending.fixedSpendingMemo}" class="text-end"></div>
                                    </div>
                                </div>
                                <div class="flex justify-between mt-2">
                                    <div><i class="fa-solid fa-plus" style="color: blue;"></i> 고정소득액</div>
                                    <div> [[${fixedIncomeSum}]] 원</div>
                                </div>
                                <hr class="p-0">
                                <div th:each="fixedIncome : ${fixedIncomes}" class="pl-3 flex flex-col gap-1">
                                    <div class="card h-[40px]">
                                        <div class="card-body py-1 pt-2 px-2">
                                            <div class="flex justify-between">
                                                <div th:text="${fixedIncome.fixedIncomeType}"></div>
                                                <div th:text="${fixedIncome.fixedIncome}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex justify-end gap-1">
                                        <div><i class="fa-solid fa-file-pen"></i></div>
                                        <div th:text="${fixedIncome.fixedIncomeMemo}" class="text-end"></div>
                                    </div>
                                </div>
                                <hr>
                                <div class="flex justify-between">
                                    <div><i class="fa-solid fa-sack-dollar"></i> [[${nextMonth}]]월 예산</div>
                                    <div>
                                        <span th:text="|${budget}원|"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-small card-post mb-2 rounded-2xl shadow-inner p-5 mt-3 w-[600px] h-[550px] font-bold" style="background-color: rgba(74, 202, 168, 0.3);">
                            <div class="text-center text-xl">하루 소비패턴 만들기 <i class="fa-solid fa-scroll"></i></div>
                            <div class="text-center text-sm"><i class="fa-solid fa-sort-down"></i> 소비유형별 가능한 최대금액을 적어주세요.</div>
                            <div class="border-b-2 border-green-700 opacity-50 mt-3"></div>
                            <div class="border-b-2 border-green-700 opacity-50 mt-1"></div>
                            <form th:action="@{/account/daily/pattern}" th:object="${dailyPatternForm}" method="POST">
                                <div th:replace="form_errors :: formErrorsFragment"></div>
                                <div class="mt-3 flex justify-between">
                                    <div class="bg-white p-1 px-4 rounded shadow-inner h-[26px]">
                                        <div><i class="fa-solid fa-tag"></i> 소비패턴명</div>
                                    </div>
                                    <input type="text" th:field="*{dailyPatternName}" placeholder="ex. 일상, 주말, 데이트..." class="border border-gray-50 rounded pl-2 shadow-inner h-[26px]">
                                </div>
                                <div class="mt-3 flex justify-between">
                                    <div class="bg-white p-1 px-4 rounded shadow-inner h-[26px]">
                                        <div><i class="fa-regular fa-chart-bar"></i> 한달 횟수</div>
                                    </div>
                                    <div>
                                        한달 <input type="text" th:field="*{timesPerMonth}" class="border border-gray-50 rounded pl-2 shadow-inner w-[70px] h-[26px]"> 회
                                    </div>
                                </div>
                                <div class="mt-3">
                                    <div class="append-select-parents">
                                        <div class="flex justify-between gap-2">
                                            <select name="dailyConsumptionTypes[]" class="h-[25px] border border-gray-50 rounded shadow-inner">
                                                <option value="">--(하루)소비유형을 선택하세요--</option>
                                                <option value="아침식사">아침식사</option>
                                                <option value="점심식사">점심식사</option>
                                                <option value="저녁식사">저녁식사</option>
                                                <option value="카페">카페</option>
                                                <option value="의류">의류</option>
                                                <option value="식료품">식료품</option>
                                                <option value="관람">관람</option>
                                                <option value="의료">의료</option>
                                                <option value="운동">운동</option>
                                                <option value="항공 및 숙박">항공 및 숙박</option>
                                                <option value="담배 및 기호식품">담배 및 기호식품</option>
                                                <option value="주류 및 유흥">주류 및 유흥</option>
                                                <option value="기타">기타</option>
                                            </select>
                                            <div class="flex gap-2">
                                                <input type="number" name="dailyConsumptionPrices[]"
                                                       class="border border-gray-500 ml-2 w-[120px] h-[26px] rounded"> 원
                                                <div class="append-select">
                                                    <i class="fa-solid fa-square-plus" style="font-size: 26px;"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex justify-end">
                                    <input type="submit"
                                           value="다음"
                                           class="border-2 border-[#3c424d] rounded text-white bg-[#3c424d] hover:shadow-md px-4 pt-1 mt-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(".append-select").on("click", function() {
        if (document.querySelectorAll(".dailyConsumptionTypes").length > 6) {
            alert("추가가능한 소비유형은 최대 8개입니다.")
            return false;
        }
        const select = `
        <div>
            <div>
                <div class="flex justify-between gap-2 mt-2">
                    <select name="dailyConsumptionTypes[]" class="h-[25px] rounded shadow-inner dailyConsumptionTypes">
                        <option value="">--(하루)소비유형을 선택하세요--</option>
                        <option value="아침식사">아침식사</option>
                        <option value="점심식사">점심식사</option>
                        <option value="저녁식사">저녁식사</option>
                        <option value="카페">카페</option>
                        <option value="의류">의류</option>
                        <option value="식료품">식료품</option>
                        <option value="관람">관람</option>
                        <option value="의료">의료</option>
                        <option value="운동">운동</option>
                        <option value="항공 및 숙박">항공 및 숙박</option>
                        <option value="담배 및 기호식품">담배 및 기호식품</option>
                        <option value="주류 및 유흥">주류 및 유흥</option>
                        <option value="기타">기타</option>
                    </select>
                    <div class="flex gap-2">
                        <input type="number" name="dailyConsumptionPrices[]"
                                   class="border border-gray-500 ml-2 w-[120px] h-[26px]  shadow-inner rounded"> 원
                        <i class="fa-regular fa-square-minus delete" style="font-size: 26px; color: red;" onclick="deleteSelect(this)"></i>
                    </div>
                </div>
            </div>
        <div>
        `;

        const selectParents = document.createElement('div');
        selectParents.innerHTML = select;
        document.getElementsByClassName("append-select-parents")[0].appendChild(selectParents);
    });

    function deleteSelect(content) {
        const parents = content.parentNode.parentNode.parentNode.parentNode;
        parents.remove()
    }

    </script>

</th:block>
</html>