<html
        xmlns:th="http://thymeleaf.org"
>
<th:block th:replace="/head :: headFragment"></th:block>

<div class="h-[10%] flex text-5xl font-bold text-white p-2 default-bgcolor-base">
    <div class="w-[60px] text-4xl mt-2">
        <i class="fa-solid fa-piggy-bank"></i>
    </div>
    <div class="flex-grow text-center mt-2">
        0840
    </div>
</div>
<div class="h-[90%]">
    <div class="container mx-auto max-w-screen-lg mt-5 p-10 flex flex-col rounded-2xl shadow-lg">
        <form th:action="@{/user/login}" method="POST" class="flex flex-col w-[70%] mx-auto items-center">
            <div class="w-[90%] text-center text-2xl font-semibold mt-1 mb-10">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="mx-auto">
                    <div class="flex flex-grow mb-3 gap-3">
                        <label class="form-label mt-2 text-base w-[100px]">로그인ID</label>
                        <input type="text" class="form-control flex-grow" placeholder="아이디를 입력해주세요">
                    </div>
                    <div class="flex flex-grow mb-3 flex gap-3">
                        <label class="form-label mt-2 text-base w-[100px] flex-grow">비밀번호</label>
                        <input type="text" class="form-control" placeholder="비밀번호를 입력해주세요">
                    </div>
                </div>
                <div class="flex flex-col max-w-screen-md">
                    <button class="btn btn-outline btn-error btn-sm w-[100%] mx-auto">로그인 <span class="text-sm ml-2"><i class="fa-solid fa-piggy-bank"></i></span></button>
                    <a class="mt-2 text-right text-sm text-gray-400 font-light underline cursor-pointer">회원가입</a>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
