<html
        xmlns:th="http://thymeleaf.org"
>
<th:block th:replace="/head :: headFragment"></th:block>

<div class="h-[10%] flex text-5xl font-bold text-white p-2 default-bgcolor-base">
    <div class="w-[60px] text-4xl mt-2">
        <i class="fa-solid fa-piggy-bank"></i>
    </div>
    <div class="flex-grow text-center mt-2">
        0840
    </div>
</div>
<div class="h-[90%]">
    <div class="container mx-auto max-w-screen-lg mt-5 p-10 flex flex-col rounded-2xl shadow-lg">
        <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="POST" enctype="multipart/form-data" class="flex flex-col w-[70%] mx-auto items-center">
            <div class="flex flex-grow mb-3 gap-3">
                <label class="form-label mt-2 text-base w-[100px]">아이디</label>
                <input type="text" th:field="*{loginId}" class="form-control flex-grow" placeholder="아이디를 입력해주세요">
            </div>
            <div class="flex flex-grow mb-3 gap-3">
                <label class="form-label mt-2 text-base w-[100px]">닉네임</label>
                <input type="text" th:field="*{nickname}" class="form-control flex-grow" placeholder="닉네임을 입력해주세요">
            </div>
            <div class="flex flex-grow mb-3 gap-3">
                <label class="form-label mt-2 text-base w-[100px]">비밀번호</label>
                <input type="password" th:field="*{loginPw}" class="form-control flex-grow" placeholder="비밀번호를 입력해주세요">
            </div>
            <div class="flex flex-grow mb-3 gap-3">
                <label class="form-label mt-2 text-base w-[100px]">비밀번호 확인</label>
                <input type="password" th:field="*{loginPwCheck}" class="form-control flex-grow" placeholder="비밀번호를 다시 입력해주세요">
            </div>
            <div class="flex flex-grow mb-3 gap-3">
                <label class="form-label mt-2 text-base w-[100px]">이메일</label>
                <input type="text" th:field="*{email}" class="form-control flex-grow" placeholder="이메일을 입력해주세요">
            </div>
            <div class="flex flex-grow mb-3 gap-3">
                <label class="form-label mt-2 text-base w-[100px]">프로필 이미지 설정</label>
                <input type="file" th:field="*{userImg}" accept="image/png, image/gif, image/jpeg">
            </div>
            <div class="flex flex-grow mb-3 gap-3">
                <button type="submit" class="btn btn-outline btn-error btn-sm w-[60%] mx-auto">가입하기</button>
            </div>
        </form>
    </div>
</div>
</html>