<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<!-- 해당 부분을 fragment로 선언 -->
<th:block th:fragment="userInfoFragment">
    <div class="flex flex-col gap-3 w-full pt-2 px-4">
        <div class="mx-auto mt-4">
            <img class="profileImg w-[150px]" th:src="@{${#authentication.principal.userImgUrl}}">
        </div>
        <div class="flex flex-col gap-2">
            <div class="card h-[40px]">
                <div class="card-body py-1 pt-2 px-2">
                    <div class="flex justify-between">
                        <div>닉네임</div>
                        <div th:text="${siteUser.nickname}"></div>
                    </div>
                </div>
            </div>
            <div class="card h-[40px]">
                <div class="card-body py-1 pt-2 px-2">
                    <div class="flex justify-between">
                        <div>가입일자</div>
                        <div th:text="${createDateFormat}"></div>
                    </div>
                </div>
            </div>
            <div class="card h-[40px]">
                <div class="card-body py-1 pt-2 px-2">
                    <div class="flex justify-between">
                        <div>시급</div>
                        <div th:if="${siteUser.isRegistered}" th:text="|${siteUser.baseWage}원|"></div>
                        <div th:unless="${siteUser.isRegistered}" th:text="미정"></div>
                    </div>
                </div>
            </div>
            <div class="card h-[40px]">
                <div class="card-body py-1 pt-2 px-2">
                    <div class="flex justify-between">
                        <div>연차</div>
                        <div th:if="${siteUser.isRegistered}" th:text="|${siteUser.annual}일|"></div>
                        <div th:unless="${siteUser.isRegistered}" th:text="미정"></div>
                    </div>
                </div>
            </div>
            <div class="card h-[40px]">
                <div class="card-body py-1 pt-2 px-2">
                    <div class="flex justify-between">
                        <div>월급일</div>
                        <div th:if="${siteUser.isRegistered}" th:text="|매월 ${siteUser.payday}일|"></div>
                        <div th:unless="${siteUser.isRegistered}" th:text="미정"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>