<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout}"
>
<head>
    <style>
        a {
            text-decoration:none;
            color: black;

        }
        a:hover {
            color: #3c424d;
        }
    </style>
</head>
<th:block layout:fragment="content">
    <div class="w-[85%] mx-auto">
        <table class="table table-hover mt-16">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">내용</th>
                <th scope="col">작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article, loop : ${paging}">
                <th scope="row"><a th:href="@{|/article/detail/${article.id}|}" class="no-underline text-black hover:text-[#3c424d]">[[${article.id}]]</a></th>
                <td><a th:href="@{|/article/detail/${article.id}|}" class="no-underline text-black hover:text-[#3c424d]">[[${article.subject}]]</a></td>
                <td><a th:href="@{|/article/detail/${article.id}|}" class="no-underline text-black hover:text-[#3c424d]">[[${article.content}]]</a></td>
                <td><a th:href="@{|/article/detail/${article.id}|}" class="no-underline text-black hover:text-[#3c424d]">[[${article.author.nickname}]]</a></td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징처리 시작 -->
        <div th:if="${!paging.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                    <a class="page-link"
                       th:href="@{|?page=${paging.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                    th:if="${page >= paging.number-5 and page <= paging.number+5}"
                    th:classappend="${page == paging.number} ? 'active'"
                    class="page-item">
                    <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
                </li>
                <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 페이징처리 끝 -->
        <div class="flex justify-end">
            <a th:href="@{/article/create}" class="bg-red-500 no-underline text-white p-1 px-4 rounded">글쓰기</a>
        </div>
    </div>
</th:block>
</html>