<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <!-- tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<!-- 해당 부분을 fragment로 선언 -->
<th:block th:fragment="headerFragment">
    <nav class="navbar navbar-expand-xl navbar-light bg-light p-0 h-[100%]">
        <div class="container-fluid default-bgcolor-base pl-8 h-[100%]">
            <a class="navbar-brand text-white" th:href="@{/user/login}">0840</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarWithDropdown"
                    aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show flex pl-14" id="navbarWithDropdown">
                <ul class="navbar-nav flex-grow flex">
                    <div class="flex-grow flex gap-5">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" th:href="@{/}"><i class="fa-solid fa-house-user"></i><span class="ml-2">홈</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="fa-solid fa-calculator"></i><span class="ml-2">급여계산기</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#"><i class="fa-solid fa-book"></i><span class="ml-2">가계부</span></a>
                        </li>
                    </div>
                    <div class="w-[150px]">
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link text-white text-center" th:href="@{/user/login}" tabindex="-1"
                               aria-disabled="true">로그인</a>
                        </li>
                    </div>
                    <div class="w-[150px] mr-2">
                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle text-white text-center" href="#" id="navbarDropdownMenuLink"
                               role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                마이페이지
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}"
                                       tabindex="-1" aria-disabled="true">로그아웃</a></li>
                            </ul>
                        </li>
                    </div>

                </ul>
            </div>
        </div>
    </nav>
</th:block>
</html>