<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<!-- 해당 부분을 fragment로 선언 -->
<th:block th:fragment="navbarFragment">
    <div class="w-full z-50 fixed">
        <div class="h-[30px] p-1 bg-gray-50 border-b-2 border-[#EEEEEE] flex justify-end shadow-inner">
            <label class="mr-5"><a href="#" class="no-underline text-[8px] text-gray-500 hover:text-gray-500">자주 묻는
                질문</a></label>
            <label class="mr-5 pt-1 text-gray-500 text-[8px]"> | </label>
            <label class="mr-5"><a href="#"
                                   class="no-underline text-[8px] text-gray-500 hover:text-gray-500">공지사항</a></label>
            <label class="mr-5 pt-1 text-gray-500 text-[8px]"> | </label>
            <label class="mr-5"><a href="#"
                                   class="no-underline text-[8px] text-gray-500 hover:text-gray-500">가이드</a></label>
        </div>
        <nav class="navbar navbar-expand-xl navbar-fixed-top bg-white navbar-light p-0 flex-grow pt-2 object-fit shadow-md">
            <div class="container-fluid pl-8 h-[100%]">
                <a class="navbar-brand py-0" th:href="@{/}"><img src="/images/0840-svg.svg" class="w-[110px] h-[90px] mt-[-10px]"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarWithDropdown"
                        aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse pl-20 w-full h-full" id="navbarWithDropdown">
                    <ul class="navbar-nav inline-block w-full">
                        <li class="nav-item w-[200px] h-full inline-block group relative text-center">
                            <div class="h-full">
                              <a class="nav-link text-[14px] h-full" href="/wage/base">급여계산기</a>
                            </div>
                            <ul class="group-hover:block pl-0 hidden absolute border border-[#d3d3d3] bg-white rounded">
                                <li class="w-[200px]"><a href="/wage/base" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">기본급여정보</a></li>
                                <li class="w-[200px]"><a href="/wage/working-time" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">근무시간입력</a></li>
                                <li class="w-[200px]"><a href="/wage/result" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">누적급여계산</a></li>
                            </ul>
                        </li>
                        <li class="nav-item w-[200px] h-full inline-block group relative text-center">
                                <div class="h-full">
                                    <a class="nav-link text-[14px]" href="/account/base/fixed-spending">가계부</a>
                                </div>
                                <ul class="group-hover:block pl-0 hidden absolute border border-[#d3d3d3] bg-white rounded">
                                    <li class="w-[200px]"><a href="/account/base/fixed-spending" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">고정지출입력</a></li>
                                    <li class="w-[200px]"><a href="/account/base/fixed-income" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">고정소득입력</a></li>
                                    <li class="w-[200px]"><a href="/account/daily/pattern" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">하루소비패턴</a></li>
                                    <li class="w-[200px]"><a href="/account/result" class="text-[14px] p-[5px_20px] hover:bg-[#3c424d] hover:text-white whitespace-nowrap block text-[#808080] no-underline">나의소비현황</a></li>
                                </ul>
                        </li>
                        <li class="nav-item w-[200px] h-full inline-block group relative text-center">
                            <div class="h-full">
                                <a class="nav-link text-[14px] h-full" href="/article/list">근로매거진</a>
                            </div>
                        </li>

                        <div class="w-[150px]">
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link text-center" th:href="@{/user/login}" tabindex="-1"
                                   aria-disabled="true">로그인</a>
                            </li>
                        </div>
                        <div class="flex flex-grow justify-end mr-16">
                            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink"
                                   role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span th:text="|${siteUser.nickname}님|" class="text-[16px]"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/wage/base">급여정보 입력</a></li>
                                    <li><a class="dropdown-item" href="/account/base/fixed-spending">고정지출/소득 입력</a></li>
                                    <li><a class="dropdown-item" sec:authorize="isAuthenticated()"
                                           th:href="@{/user/logout}"
                                           tabindex="-1" aria-disabled="true">로그아웃</a></li>
                                </ul>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</th:block>
</html>