<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<!-- 해당 부분을 fragment로 선언 -->
<th:block th:fragment="navbarFragment">
    <div class="w-full z-50 fixed">
        <div class="h-[30px] p-1 bg-gray-50 border-b-2 border-[#EEEEEE] flex justify-end shadow-inner">
            <label class="mr-5"><a href="#" class="no-underline text-[8px] text-gray-500 hover:text-gray-500">자주 묻는
                질문</a></label>
            <label class="mr-5 pt-1 text-gray-500 text-[8px]"> | </label>
            <label class="mr-5"><a href="#"
                                   class="no-underline text-[8px] text-gray-500 hover:text-gray-500">공지사항</a></label>
            <label class="mr-5 pt-1 text-gray-500 text-[8px]"> | </label>
            <label class="mr-5"><a href="#"
                                   class="no-underline text-[8px] text-gray-500 hover:text-gray-500">가이드</a></label>
        </div>
        <nav class="navbar navbar-expand-xl navbar-fixed-top bg-white navbar-light bg-light p-0 flex-grow pt-2 object-fit shadow-md">
            <div class="container-fluid pl-8 h-[100%]">
                <a class="navbar-brand" th:href="@{/user/login}"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarWithDropdown"
                        aria-controls="navbarWithDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse show flex pl-14" id="navbarWithDropdown">
                    <ul class="navbar-nav flex-grow flex">
                        <div class="flex-grow flex justify-end gap-40">
                            <li class="nav-item">
                                <a class="nav-link active text-[14px]" aria-current="page" th:href="@{/}"><i
                                        class="fa-solid fa-house-user"></i><span class="ml-2">홈</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-[14px]" href="/wage/base"><i class="fa-solid fa-calculator"></i><span
                                        class="ml-2">급여계산기</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-[14px]" href="#"><i class="fa-solid fa-book"></i><span
                                        class="ml-2">가계부</span></a>
                            </li>
                        </div>
                        <div class="w-[150px]">
                            <li class="nav-item" sec:authorize="isAnonymous()">
                                <a class="nav-link text-center" th:href="@{/user/login}" tabindex="-1"
                                   aria-disabled="true">로그인</a>
                            </li>
                        </div>
                        <div class="w-[150px] mr-2">
                            <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                                <a class="nav-link dropdown-toggle text-center" href="#" id="navbarDropdownMenuLink"
                                   role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <span th:text="|${#authentication.principal.nickname}님|" class="text-[16px]"></span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Action</a></li>
                                    <li><a class="dropdown-item" href="#">Another action</a></li>
                                    <li><a class="nav-link text-[14px]" sec:authorize="isAuthenticated()"
                                           th:href="@{/user/logout}"
                                           tabindex="-1" aria-disabled="true">로그아웃</a></li>
                                </ul>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </nav>
    </div>
</th:block>
</html>